<footer> 
    <mat-divider></mat-divider>
    <div class="container">
        <div class="connection">
            <h3>Kapcsolat</h3>
            <p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
                Phone: +36/80-955-63-11
            </p>
            <p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
                Email: lorem@ipsum.dolor
            </p>
        </div>
        <div class="adress">
            <h3>Címünk</h3>
            <p>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                8640 Fonyód Hegyalja utca 9.
            </p>
        </div>
    </div>
    <div class="bottomfooter">
        <p>Készítette: Holicska Bence</p>
    </div>

</footer>
