<div class="content">
    <div class="container">
        <div class="bookingdiv">
            <h3>We are Passionate Beauticians and Makeup Artists Based in New York.</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid adipisci quia magni pariatur quis illum obcaecati commodi, provident, vero amet laborum deleniti doloribus alias accusantium saepe, nemo aspernatur ad voluptate?</p>
            <button mat-raised-button  routerLink="/booking">Foglalj időpontot</button>
        </div>
        <img src="assets/profile.jpg">
    </div>
    <div class="servicesdiv">
        <h5>Szolgáltatások:</h5>
        <div class="serviceimg">
            <div class="">
                <img src="assets/arcapolas.jpg">
                <p>Kozmetika</p>
            </div>
            <div class="">
                <img src="assets/kezapolas.jpg">
                <p>Kézápolás</p>
            </div>
            <div class="">
                <img src="assets/labapolas.jpg">
                <p>Lábápolás</p>
            </div>
        </div>
    </div>
    <div class="aboutmecontainer">
        <div class="aboutmediv">
            <div class="div1">
                <div class="aboutmecontent">
                    <h3>Bemutatkozás</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium animi in, beatae aperiam repellendus quas veniam dolore autem dolorem, ducimus, ullam vitae non. Quaerat praesentium repellat vitae accusantium odit eos.</p>
                    <p>Assumenda, repudiandae perspiciatis corporis a sapiente blanditiis accusantium. Dolore veniam autem natus doloremque ullam aliquam possimus sequi consequatur aut excepturi saepe cum, harum maxime iusto? Aliquid laboriosam quasi perferendis quo.</p>
                </div>
            </div>
            <div class="div2"> <img src="assets/Anikó18.jpg"> </div>
            <div class="div3"> <img src="assets/Anikó21.jpg"> </div>
            <div class="div4"> 
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium animi in, beatae aperiam repellendus quas veniam dolore autem dolorem, ducimus, ullam vitae non. Quaerat praesentium repellat vitae accusantium odit eos.</p>
                <p>Assumenda, repudiandae perspiciatis corporis a sapiente blanditiis accusantium. Dolore veniam autem natus doloremque ullam aliquam possimus sequi consequatur aut excepturi saepe cum, harum maxime iusto? Aliquid laboriosam quasi perferendis quo.</p>
            </div>
            </div>
    
        </div>
</div>
